body{
	direction: rtl;
	font-family: 'Iran', 'Iran-Medium', Tahoma, sans-serif;
	font-size:12px;
	line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Iran-Medium';
	line-height: 1.8;
}

h1{font-size:30px;}
h2{font-size:25px;}
h3{font-size:21px;}
h4{font-size:17px;}
h5{font-size:15px;}
h6{font-size:13px;}

.form-field-holder strong{
	right: auto;
	left: 12px;
	font-size: 10px;
}

.form-field-holder .field-icon{
	right: auto;
	left: 10px;
}

::-webkit-input-placeholder{
	font-family: 'Iran';
    font-size:12px;
}

:-moz-placeholder{
    font-family: 'Iran';
    font-size:12px;
}

::-moz-placeholder{
    font-family: 'Iran';
    font-size:12px;
}

:-ms-input-placeholder{  
    font-family: 'Iran';
    font-size:12px;
}

input,
textarea,
button{font-family: 'Iran';}

label{font-size: 13px;}

input[type="submit"]{font-size: 11px;}

input[type="search"]{
	padding: 0 0 0 32px;
	background-position-x:10px;
}

input[type="reset"]{margin: 0 8px 0 0;}

input[type="file"]{
	right: auto;
	left:0;
}

input.has-icon{padding: 0 0 0 40px;}

label.error{font-size: 10px;}

h6.has-icon{padding: 0 25px 0 0;}

span.has-different-icon{
	padding: 0 20px 0 0;
	background-position-x: right;
}

.upload-bttn{
	right: auto;
	left:0;
}

.upload-bttn label{font-size: 12px;}  

.upload-image-inner-box span {
    left: auto;
    right: 50%;
    margin: 0 -150px 0 0;
    font-size: 10px;
}

.inline-upload .upload-bttn{
	right: 0;
	left:auto;
}

.file-name{
	left: auto;
    right: 180px;
}

.checkbox-holder input[type="checkbox"],
.radio-holder input[type="radio"]{
	left:auto;
	right:0;
}

.checkbox-holder input[type="checkbox"] + label,
.radio-holder input[type="radio"] + label{
	font-family: 'Iran';
	font-size: 12px;
	padding:4px 42px 4px 0;
}

.checkbox-holder input[type="checkbox"] + label::before{
	left:auto;
	right:2px;
}

.checkbox-holder input[type="checkbox"] + label::after{
	top: 3px;
	left: auto;
	right: 8px;
}

.radio-holder input[type="radio"] + label::before{
	left:auto;
	right:2px;
}

.radio-holder input[type="radio"] + label::after{
	right:auto;
	left: 8px;
}

.caption-textarea{font-size: 11px;}

a.remove{
	right:auto;
    left: 6px;
}

.bttn{font-size: 11px;}

.bttn.has-icon{
	background-position-x: 93%;
    padding: 10px 37px 10px 15px;
}

.bttn.large{font-size: 15px;}

.nav-toggle{
    left:auto;
    right: 30px;
}

.font-type-default{font-family: 'Iran';}
.font-type-medium{font-family: 'Iran-Medium';}
.font-type-large{font-family: 'Iran-Large';}

a.close{
	left:auto;
	right:10px;
}

.tag{font-size: 10px;}

span.description{
	right:auto;
	left:11px;
	font-size: 10px;
}

span.time{
	float: left;
	font-size: 10px;
}

.message span{padding:0 30px 0 0;}
.message.success span{background-position-x: right;}
.message.fail span{background-position-x: right;}

.filter .field-holder{margin:0 0 0 10px;}

.filter input[type="search"]{margin: 0 0 0 10px;}

.filter-items{float: right;}
.filter .count{float: left;}

.star-box i{
	font-size: 12px;
	margin: 0 7px 0 0;
}

.pagination ul{float: left;}

.pagination ul li {font-size: 11px;}

.breadcrumb ul li{float: right;}

.table td,
.table th{text-align: right;}

.table th{font-family: 'Iran';}

.table-filter{
	font-family: 'Iran-Medium';
	padding: 0 0 0 15px;
	background-position-x:left;
}

.table-filter.active{background-position-x:left;}

.section{float: right;}

.section.reverse{float: left;}

.half-box{
	float: right;
	margin: 0 2% 0 0;
}

.half-box:nth-child(2n+1){margin-right: 0;}

.half-half-box{float: right;}

.left-side{float: left;}

.right-side{float: right;}


						/*            1200 Screen Start        */

@media only screen and (max-width: 1200px){

	.upload-image-inner-box span{margin: 0 -100px 0 0;}

}

						/*            1200 Screen End        */

						/*            1050 Screen Start        */

@media only screen and (max-width:1050px){

	body{font-size: 11px;}
	h1{font-size:25px;}
	h2{font-size:21px;}
	h3{font-size:17px;}
	h4{font-size:15px;}
	h5{font-size:14px;}
	h6{font-size:12px;}

	.has-2-column .section-box{
		float: right;
		margin: 0 2% 0 0;
	}

	.has-2-column .section-box:nth-child(2n+1){margin-right: 0;}

	.has-3-column .section-box{
		float: right;
		margin: 0 2% 0 0;
	}

	.has-3-column .section-box:nth-child(3n+1){margin-right: 0;}

	.has-4-column .section-box{
		float: right;
		width: 23.5%;
		margin: 0 2% 0 0;
	}

	.has-4-column .section-box:nth-child(4n+1){margin-right: 0;}

	.table.responsive td{
		text-align: right !important;
		padding: 0 120px 0 0;
	}

	.table.responsive td::before{
		content:attr(th-data);
		position: absolute;
		left:auto;
		right:0;
		padding:13px 15px 0 0;
	}

	
}

						/*            1050 Screen End        */

						/*            860 Screen Start        */

@media only screen and (max-width:860px){

	.filter .field-holder{
		float: right;
		margin:15px 2% 15px 0;
	}

	.filter .field-holder:nth-child(2n+1){margin-right: 0}

}

						/*            860 Screen End        */

						/*            740 Screen Start        */

@media only screen and (max-width:740px){

	.has-2-column .section-box,
	.has-3-column .section-box{margin-right:0}

	.has-4-column .section-box:nth-child(4n+1){margin-right: 2%;}
	.has-4-column .section-box:nth-child(2n+1){margin-right: 0;}

	.breadcrumb.has-button{padding-left: 0;}

}

						/*            740 Screen End        */	

						/*            640 Screen Start        */

@media only screen and (max-width:640px){


}

						/*            640 Screen End        */											

						/*            560 Screen Start        */						

@media only screen and (max-width: 560px){

	.has-4-column .section-box{margin-right: 0;}

	.message span{
		padding: 0 30px 0 0;
		background-position-x:93% !important;
	}

	.filter .field-holder{margin-right: 0;	}

	.status-box{
		left: auto;
		right:20px;
	}

	.file-name{
		top:59px;
		left:0;
	}

	.breadcrumb ul li::before{
		left:auto;
		right:50%;
		margin:0 -4.5px 0 0;
	}

}

						/*            560 Screen End        */

						/*            400 Screen Start        */

@media only screen and (max-width:400px){


}

						/*            400 Screen End        */										
